{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
      </ul>
   </nav>

    <div>
      <h5 class="text-primary">Signup</h5>
    </div>
    <!-- Login Form -->
    <form  method="post">
    {% csrf_token %}
      <input type="text"   name="first_name" placeholder="Full name">
      <input type="text"   name="username" placeholder="Username">
      <input type="email"    name="email" placeholder="Email">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="password2" placeholder="Confirm password">
      <input type="submit"    class="fadeIn fourth" value="Register">
    </form>
    <div>
      {% for msg in messages %}
      <h5>{{msg}}</h5>
      {% endfor %}
    </div>
    <!-- Remind Passowrd -->
  </div>
{% endblock %} {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html>
    
<head>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{% static 'pictures/blood.png' %}" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post">
					{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="first_name" class="form-control input_user" value="" placeholder="Name">
						</div>
            <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" class="form-control input_user" value="" placeholder="Username">
						</div>
            <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="email" name="email" class="form-control input_user" value="" placeholder="Email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="Password">
						</div>
            <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password2" class="form-control input_pass" value="" placeholder="Confirm password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	{% comment %} <button type="button" name="button" class="btn login_btn">Login</button> {% endcomment %}
					 <input type="submit" name="button" class="btn login_btn" value="Register">
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
					   have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
